@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-color: #000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}
body {
  
 
  background-color: var(--background-color);
}



@layer cHeight {
  .con-height {
      height: 0px;
      overflow: hidden;
      opacity: 0;
      
      transition: all 0.4s ease-in-out;
  }
  .con-height.show {
    
      height: 100px;
      opacity: 100;
  }
  .arrow-flip.show{
      transform: scaleY(-1);
      -moz-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
  
  }
  .arrow-flip{
      transform: scaleY(1);
      -moz-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
  }
  
  }
  


  ::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #3D8BFF, #AB23FF);
    border-radius: 10px;
  }